@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }


@font-face {
    font-family: 'AvantGardeBookBT';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AVGARDD_2.woff') format('woff');
}
}

body{
    margin: 0px;
    background-color: #0f0f0f;
    font-family: 'AvantGardeBookBT';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


